/* Font Styles */

/* This part of the code about adding the 'Nanum Gothic' font is referenced from this
link: https://www.w3schools.com/howto/tryit.asp?font=Nanum%20Gothic */
body {
    font-family: 'Nanum Gothic';
    color: #4d004d;
}
/* This part of the code about adding the 'Nanum Gothic' font is referenced from this
link: https://www.w3schools.com/howto/tryit.asp?font=Nanum%20Gothic */

/* Universal Styles */

* {
    box-sizing: border-box;
}

/* Main Wrapper */

.wrapper {
    width: 100%;
}
  

/* Main Styles */

form {
    max-width: 95%;
    margin: auto;
    padding: 15px;
    background: #f0f0f5; 
    border-radius: 12px;
    width: 100%;
}

h1 {
    margin: auto; 
    text-align: center; 
    background: #4d004d;
    color: #f2f2f2; 

}

h2, p {
    text-align: center;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea, 
select {
    background: #f0f0f5; 
    border: none; 
    font-size: 16px; 
    height: auto; 
    padding: 10px;
    margin-bottom: 25px;
    background-color: #e0e0eb;
    margin-bottom: 35px;

}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 5px 10px 0;

}

fieldset {
    border: none;

}

.form_div {
    border-top: 5px solid #4d004d;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 5px 5px 0; 
    
}

select {
    padding: 5px; 
    height: 30px;
    border-radius: 5px; 
}

legend {
    font-size: 1.6em;
    margin-bottom: 20px;
}

.main_legend {
    font: 1.8em; 
    font-weight: bold; 

}

label {
    display: block;
    margin-bottom: 15px;

}

.style2 {
    display: inline; 

}

.newsletter_div {
    box-sizing: border-box;
    padding-bottom: 30px;
    padding-top: 15px;

}

button {
    padding: 15px 30px 15px 30px; 
    color: white; 
    background-color: #4d004d;
    font-size: 1.5em;
    text-align: center; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    border: none;
}

#req {
    text-align: left;
    font-size: 0.9em;
    font-style: italic;

}

/* Footer Styles */

footer {
    padding: 20px;
    font-style: italic;
}

/* Focus state Styles */

input:focus,
textarea:focus {
    background-color: #e6e6ff;
    outline: 2px dashed #ff66b3;
}



/* Media Queries for 767px and below */

@media (max-width: 767px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea, 
    select {
        width: 100%;
     
    }

    button {
        width: 100%;
    }

/* Media Queries for 768px and above */
}

@media (min-width: 768px) {

    .wrapper {
        width: 65%;
        margin: auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea, 
    select {
        width: 65%;
     
    }

    form {
        max-width: 700px;

    }

    .contact label {
        clear: both;
        text-align: right;
        float: left; 
        margin-right: 20px;
    
    }

    .contact input,
    .contact select {
        float: right;

    }

    button {
        width: 70%;
        margin-left: 17.5%;
        max-width: 800px;
    }

}